### Basic Indexing and Slicing Questions

1. Given a list: numbers = [10, 20, 30, 40, 50], extract the element at index 2.

In [78]:
numbers = [10, 20, 30, 40, 50]
numbers[2]

30

2. Given a string: text = "Hello, Python!", retrieve the last character.

In [10]:
text = "Hello, Python!"
text[-1]

'!'

3. Slice the first 3 elements from the list fruits = ["apple", "banana", "cherry", "date", "elderberry"].

In [12]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
fruits[:3]

['apple', 'banana', 'cherry']

4. Extract the substring "Python" from the string greeting = "Welcome to Python Programming!".

In [20]:
greeting = "Welcome to Python Programming!"
greeting[11:17]

'Python'

5. Using negative indexing, retrieve the second last item from the list colors = ["red", "green", "blue", "yellow"].

In [24]:
colors = ["red", "green", "blue", "yellow"]
colors[-2]

'blue'

### Slicing with Steps

6. Given a list: numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], slice every second element starting from index 1.

In [37]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[1::2]

[1, 3, 5, 7, 9]

7. Reverse the list nums = [1, 2, 3, 4, 5, 6, 7, 8, 9] using slicing.

In [41]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
nums[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

8. Slice every third character in the string phrase = "abcdefg hijklmn opqrst uvwxyz".

In [44]:
phrase = "abcdefg hijklmn opqrst uvwxyz"
phrase[::3]

'adgil qtvy'

9. Extract every second element from the list letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], starting from the end.

In [51]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
letters[::-2]

['h', 'f', 'd', 'b']

10. Slice and print the first 5 elements from the list elements = ['H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F'], in reverse order

In [64]:
elements = ['H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F']
items = elements[4::-1]
print(items)

['B', 'Be', 'Li', 'He', 'H']

### Advanced Slicing Techniques

11. Extract a sub-list from index 3 to 8 (inclusive) from values = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50].

In [80]:
values = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
sub_list = values[3:9]
print(sub_list)

[20, 25, 30, 35, 40, 45]

12. Given a list: nums = [10, 20, 30, 40, 50, 60, 70, 80], slice out the last three elements.

In [86]:
nums = [10, 20, 30, 40, 50, 60, 70, 80]
elements = nums[-3:]
print(elements)

[60, 70, 80]

13. Using slicing, replace every second element with 0 in the list sample = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

In [28]:
sample = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in sample:

14. Extract all elements from a list except the first and last one in the list data = [100, 200, 300, 400, 500].

In [92]:
data = [100, 200, 300, 400, 500]
data[1:4]

[200, 300, 400]

15. Using slicing, reverse every other character in the string word = "abcdefghi".

In [95]:
word = "abcdefghi"
word[::-2]

'igeca'

### Nested Indexing and Slicing

16. Given a 2D list: matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], extract the element in the third row and second column.

In [112]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix[2][1]

8

17. Using slicing, retrieve the first two columns from each row in data_2d = [[11, 22, 33], [44, 55, 66], [77, 88, 99]].

In [7]:
data_2d = [[11, 22, 33], [44, 55, 66], [77, 88, 99]]
print(data_2d[0][:2])
print(data_2d[1][:2])
print(data_2d[2][:2])

[11, 22]
[44, 55]
[77, 88]

In [9]:
for i in data_2d:                            # using for loop 
    print(i[:2])

[11, 22]
[44, 55]
[77, 88]

18. Given a list of strings: words = ["apple", "banana", "cherry", "date"], slice each word to only include the first 3 characters.

In [26]:
words = ["apple", "banana", "cherry", "date"]
results = []
for i in words:
    results.append(i[:3])
print(results)

['app', 'ban', 'che', 'dat']

19.Using slicing, create a new list of even numbers from numbers = [10, 21, 30, 43, 54, 65, 76, 87, 98].

In [15]:
even_num = []
numbers = [10, 21, 30, 43, 54, 65, 76, 87, 98]
for i in numbers:
    if i%2 == 0:
        even_num.append(i)
print("Even List",even_num)

Even List [10, 30, 54, 76, 98]