### Python Print Function

1. Write a Python program to print "This is my python class." using the print() function.

In [2]:
print("This is my python class.")

This is my python class.

2. Print your name using the print() function

In [4]:
print("Avika")

Avika

3. Print the numbers 1, 2, and 3 on separate lines using three print() statements.

In [8]:
print(1)
print(2)
print(3)

1
2
3

4. Print "Python is fun!" three times using a single print() statement.

In [12]:
print("Python is fun!\n" "Python is fun!\n" "Python is fun!")

Python is fun!
Python is fun!
Python is fun!

5. Print "I love coding!" followed by "Python is amazing!" on the same line using a single print() statement.

In [14]:
print("I love coding!", "Python is amazing!")

I love coding! Python is amazing!

6. Print your favorite quote inside double quotes

In [28]:
print ("Trust your struggle!!!")

Trust your struggle!!!

7. Print your number and name in a single print() statement with a comma separating them.

In [30]:
print ("Name :" , "Avika Garg" , "Number:" , int(1234567))

Name : Avika Garg Number: 1234567

8. Print your city and country in a single print() statement using string concatenation (+).

In [26]:
print("City:" + "Meerut" +" " + "Country:" + "India")

City:Meerut Country:India

9. Print the result of 5 + 3 using print().

In [32]:
print(5+3)

8

10. Print the result of 10 * 5 inside a sentence like: "The result of 10 multiplied by 5 is ..."

In [12]:
print("The result of 10 multiplied by 5 is",(10*5))

The result of 10 multiplied by 5 is 50

11. Print a string that contains both single and double quotes: "I'm learning "Python" programming!".

In [64]:
print("I'm learning \"Python\" programming!")            # \" its used to escape double quotes 
print("""I'm learning "Python" programming!""")          # we can use triple quotes

I'm learning "Python" programming!
I'm learning "Python" programming!

12. Print the following shape using multiple print() statements:
*
**
***
****

In [40]:
print("*")
print("**")
print("***")
print("****")

*
**
***
****

13. Print the words "Python" and "Programming" on the same line with a space between them.

In [48]:
print("Python","Programming")               # With , 
print("Python" + " " + "Programming")       # With +

Python Programming
Python Programming

14.  Print "This is line 1.\nThis is line 2." using a single print() statement.

In [50]:
print("This is line 1.\nThis is line 2.")   # \n is for next line

This is line 1.
This is line 2.

15. Print "Hello" and "World" on the same line, separated by a tab space.

In [54]:
print("Hello\tWorld")                       # \t for tab space

Hello	World

16. Print a string that includes a backslash (\) character.

In [56]:
print("This is a backslash : \\")          # \ Escape character

This is a backslash : \

17. Print the numbers 1 to 5 separated by commas using a single print() statement.

In [58]:
print(1,2,3,4,5)

1 2 3 4 5

18. Print the phrase "Learning Python is easy!" using triple quotes.

In [62]:
print("""Learning Python is easy!""")

Learning Python is easy!

19. Print your name five times in a single print() statement, separated by spaces.

In [66]:
print("Avika Avika Avika Avika Avika")

Avika Avika Avika Avika Avika

20. Print your birth month and favorite color in a single print statement with a space between them.

In [70]:
print("January Black")

January Black

21. Use print() to print a multi-line address, each line on a separate line

In [72]:
print ("""hi avika 
Meerut 
India """)

hi avika
Meerut
India

22. Print a string using escape characters to include a newline, tab, and a backslash (\n, \t)

In [76]:
print("Hello \"Avika\" this side.\n\tCurrently learning Python!!!")

Hello "Avika" this side.
	Currently learning Python!!!

23. Print the phrase "My favorite number is 42" with 42 being a variable (use f-string)

In [82]:
number =  42
print(f"My favorite number is {number}.")

My favorite number is 42.

24. Print the numbers 1 to 10 in a single print statement, each number separated by a space, using a loop.

In [3]:
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

25. Print a simple mathematical equation inside a sentence, such as "The sum of 8 and 6 is 14."

In [88]:
a = 8
b = 6
sum = a+b
print(f"The sum of {a} and {b} is {sum}.")

The sum of 8 and 6 is 14.

26. Print the phrase using a single print() statement.
"This
Is
A
multi-line
string"

In [96]:
print("""This
Is
A
multi-line
string.""")

This
Is
A
multi-line
string.

27. Use a print statement to print a string with different letter cases (lowercase, uppercase, title case).

In [102]:
text = "Hello India"

print(text.lower())
print(text.upper())
print(text.title())

hello india
HELLO INDIA
Hello India

28. Print a sentence where part of the sentence is on the next line, like
"This is the first line
And this is the second line."

In [104]:
print("This is the first line\nAnd this is the second line.")

This is the first line
And this is the second line.